    *{
            margin: 0; padding: 0;
            box-sizing: border-box;
            
        }

         html,
         body{
            scroll-behavior: smooth;
            width: 100%;
        }   

        @keyframes fadeIn{
            from{
                opacity: 0;
            }
            to{
                opacity: 1;
            }
        }

        body{
            font-family:'Montserrat', sans-serif;
            background:#fff;
            color:#111;
            
        
        }

        header {
             position: sticky; 
             width: 100%;
             top: 0; left: 0;
              z-index: 500;
        }
        .logo a img{
            width: 80px;
        }
        nav {
            background: #2e2b2b;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 8%;
            transition: .4s;
        }
        .nav-links{
            display: flex;
            gap: 35px;
            list-style: none;
        }
        .nav-links a{
            color:#fff;
            text-decoration:none;
            font-size: 16px;
            font-weight:600;
            transition: 3s;
            text-transform: uppercase;
            position: relative;
        }
        .menu-btn{
            display: none;
            font-size: 30px;
            color: #fff;
             cursor: pointer;
            transition: .3s ease;
        }

        .menu-btn:hover{
            color: #f59e0b;
            transform: rotate(90deg);
        }

        /* NAV-BAR MOBILE STYLING  */

        @media(max-width: 768px) {
            .menu-btn{
                display: block;
            }

            .nav-links{
                position: absolute;
                top: 100%;
                right: -100%;
                width: 100%;
                left: auto;
                background: #0F172A;
                display: flex;
                flex-direction: column;
                text-align: center;
                padding: 25px 0;
                transition: .4s;
                z-index: 999;
            }
            .nav-links.active{
                right: 0;
            }  
        }  

        /* HERO INTRO */

        #typing{

                color:#F59E0B;

                font-weight:bold;

                border-right:3px solid #F59E0B;

                padding-right:5px;

                animation:blink .8s infinite;

                }

                @keyframes blink{

                50%{

                border-color:transparent;

                }

                }

            /* HERO STYLING */

        .hero{
            min-height: 100vh;
            background: #0F172A;
            justify-content: space-between;
            display:flex;
            align-items:center;
            padding:120px 8% 80px;
            gap: 60PX; color: #fff;
            flex-wrap: wrap;
            padding-top: 120px;
        }

         .hero-text {
            flex: 1; min-width: 300px;
         }

         .intro {
            color: #F59E08;
            font-size: 18px; margin-bottom: 15px;
         }

         .hero h1{
            font-size: 65px; line-height: 1.2;
         }
         .hero h1 span {
            color: #F59E08;
         }
         .hero h2{
            font-size: 30px; margin: 20px 0;
            color: #cbd5e1;
         }

         .description {
            font-size: 18px;
            line-height: 1.8;
            color: #cbd5e1;
            margin-bottom: 35px;
         }

         .hero-image {
            flex: 1;
            display: flex;
            justify-content: center;
         }

         .hero-image img{
            width: 420px;
            max-width: 100%;
            border-radius: 50%;
            border: 8px solid #F59E08;
            animation: float 4s ease-in-out infinite;
            box-shadow: 0 20px 40px rgba(0,0,0,.4);
         }
         @keyframes float{
            0%{
                transform: translateY(0);
            }
            50%{
                transform: translateY(-15px);
            }
            100%{
                transform: translateY(0);
            }
         }

        /* HERO BUTTON */

        .hero-button{
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
        }

        .primary-btn {
            background: #F59E08;
             color: #fff;
            padding: 15px 35px;
            text-decoration: none; 
            font-weight: bold;
            transition: .4s;
        }
        .primary-btn:hover{
            background: #fff; color: #0F172A;
        }

        .secondary-btn {
            background: transparent;
            border: 2px solid #f59e0b;
            color: #fff;
            padding: 15px 35px; 
            text-decoration: none;
            border-radius: 50px;
            transition: .4s;
        }
        .secondary-btn:hover {
            background: #F59E08; 
        }

        /* HERO MOBILE RESPONSIVE */

        
        @media(max-width: 768px){
            .hero h1{
                font-size: 40px;
            }
            .hero h2{
                font-size: 22px;
            }
            .description{
                font-size: 16px;
            }
            .hero-button{
                justify-content: center;
            }
            .hero-image img{
                width: 280px;
            }
        }


        /* ===========================
                INDEX ABOUT SECTION
            =========================== */

        .about-me{
            padding:100px 8%;
            background:#111827;
        }

        .about-container{
            display:grid;
            grid-template-columns:repeat(2,1fr);
            gap:60px;
            align-items:center;
        }

        /*===========================
               ABOUT HIGHLIGHTS
        ===========================*/

        .about-highlights{
            display:grid;
            grid-template-columns:repeat(2,1fr);
            gap:25px;
        }

        .highlight-card{
            background:#1F2937;
            padding:30px 20px;
            border-radius:15px;
            text-align:center;
            transition:.4s ease;
            cursor:pointer;
            border:1px solid transparent;
        }

        .highlight-card:hover{
            transform:translateY(-10px);
            border-color:#F59E0B;
            box-shadow:0 10px 30px rgba(245,158,11,.25);
        }

        .highlight-card i{
            font-size:40px;
            color:#F59E0B;
            margin-bottom:20px;
        }

        .highlight-card h3{
            color:#fff;
            font-size:28px;
            margin-bottom:10px;
        }

        .highlight-card h4{
            color:#F59E0B;
            margin-bottom:15px;
            font-size:18px;
        }

        .highlight-card p{
            color:#d1d5db;
            line-height:1.7;
            font-size:15px;
        }

        /*===========================
              TEXT CONTENT
        ===========================*/

        .text-box{
            color:#fff;
        }

        .text-box p{
            font-size:17px;
            line-height:1.9;
            color:#d1d5db;
            margin-bottom:20px;
        }

        .about-btn{
            padding:14px 35px;
            border:none;
            border-radius:8px;
            background:#F59E0B;
            cursor:pointer;
            transition:.3s ease;
        }

        .about-btn:hover{
            background:#fff;
            transform:translateY(-5px);
        }

        .about-btn a{
            color:#111827;
            text-decoration:none;
            font-weight:600;
            font-size:16px;
        }

        /*===========================
              TABLET
        ===========================*/

        @media (max-width:992px){

            .about-container{
                grid-template-columns:1fr;
                gap:50px;
            }

            .text-box{
                text-align:center;
            }

        }

                /*===========================
                      MOBILE
                ===========================*/

                @media (max-width:768px){

                    .about-me{
                        padding:70px 6%;
                    }

                    .about-highlights{
                        grid-template-columns:1fr;
                        gap:20px;
                    }

                    .highlight-card{
                        padding:25px 20px;
                    }

                    .highlight-card i{
                        font-size:35px;
                    }

                    .highlight-card h3{
                        font-size:24px;
                    }

                    .highlight-card h4{
                        font-size:17px;
                    }

                    .text-box p{
                        font-size:16px;
                        text-align:center;
                    }

                    .about-btn{
                        width:100%;
                    }

                }

                /*===========================
                      SMALL PHONES
                ===========================*/

                @media (max-width:480px){

                    .about-me{
                        padding:60px 5%;
                    }

                    .highlight-card{
                        padding:20px 15px;
                    }

                    .highlight-card i{
                        font-size:30px;
                    }

                    .highlight-card h3{
                        font-size:22px;
                    }

                    .text-box p{
                        font-size:15px;
                    }

                }
                

            /* WHY CHOOSE ME (COUNTER) STYLING */

        .stats{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 30px;
            padding: 80px 8%;
            background: #111827;
            color: #fff; text-align: center;
        }
        .stat-box{
            background: #1e293b;
            padding: 40px 20px;
            border-radius: 15px;
            transition: .4s; cursor: pointer;
        }
        .stat-box:hover{
            transform: translateY(-10px); background: #F59E08;
        }
        .stat-box h2{
            font-size: 50px;
            margin-bottom: 10px; color: #fff;
        }
        .stat-box p{
            font-size: 18px; color: #cbd5e1; font-style: italic;
        }

             /* MOBILE RESPONSIVE */

        @media(max-width: 768px){
            .stats{
                grid-template-columns: repeat(2, 1fr);
            }
        }
        @media(max-width: 480px){
            .stats{
                grid-template-columns: 1fr;
            }
        }


        /* ALL BANNER */

        .section-title{
            text-align:center;
            margin-bottom:60px;
            margin-top: 30px;
        }


        .section-title h2{
            font-size:42px;
            
        }
        .section-title h2 a{
            color: rgb(0, 0, 0, 0.7);
        }

        
        .service-banner,
        .project-banner,
        .contact-banner{

            background: #fff;


            background-size: cover;
            background-position: center;

            height: 300px;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        .service-banner h1,
        .project-banner h1,
        .contact-banner h1{

            color: #000;
            font-size: 50px;
        }

        
        /* GRIDES/ PROJECT PAGE STYLING */

        .grid-skill,
        .grid-project,
        .grid-service{
            display:grid;
            grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
            gap:35px;
            padding:80px 8%;
        }

        .card{
            background: white; padding: 25px;
            border-radius: 18px;
            box-shadow: 0 15px 35px rgba(0, 0, 0, 12);
            transition: 4s;
            overflow: hidden;
            
        }

        .card a{
            color: #222;
        }

        .card:hover{
            transform: translateY(-3px); background: #0F172A; color: wheat;
        }

        

        .grid-project img,
        .grid-service img,
        .grid-skill img{
            width: 100%;
        }

        .card-btn{
            display: inline-block;
            background: #D97706;
            padding: 12px 30px; border-radius: 30px;
            text-decoration: none; margin-top: 10px;
            transition: .3s;
            
        }

        .card-btn:hover {
            background: #f59e0b; color: #fff;
            padding: 12px 22px; border-radius: 30px;
            text-decoration: none; font-weight: 600; 
        }


        /* INDEX PROJECT SECTION STYLING */

        .project-card {
            background: #fff;
            border-radius: 18px;
            overflow: hidden;
            box-shadow: 0 15px 35px rgba(0, 0, 0, 12);
            transition: .4s;
        }
        .project-card:hover{
            transform: translateY(-12px);
        }

        .project-image{
            overflow: hidden;
        }
        .project-image img{
            width: 100%; height: 240px;
            object-fit: cover; transition: .5s;
        }

        .project-card:hover img{
            transform: scale(1.1);
        }

        .project-content{
            padding: 25px;
        }
        .project-content h3{
            margin-bottom: 15px;
            font-size: 24px;
        }
        .project-content p{
            color: #555; line-height: 1.7;
        }
        .project-tech{
            margin: 25px 0;
            display: flex; flex-wrap: wrap;
        }
        .project-tech span{
            background: #E2E8F0;
            padding: 8px 15px;
            border-radius: 25px;
            font-size: 14px;
            font-weight: bold;
        }
        .project-button{
            display: flex; gap: 15px;
            margin-top: 20px;
        }

        .live-btn{
            background: #f59e0b; color: #fff;
            padding: 12px 22px; border-radius: 30px;
            text-decoration: none; font-weight: 600;
        }

        .live-btn:hover{
            background: #D97706;
        }
        
        .github-btn{
            background: #0F172A; color: #fff;
            padding: 12px 22px; border-radius: 30px;
            text-decoration: none; font-weight: 600;
        }
        .github-btn:hover{
            background: #2563eb;
        }

        /* MOBILE RESPONSIVENESS */

        @media(max-width: 768px) {
            .project-button{
                flex-direction: column;
            }
            .project-button a{
                text-align: center; width: 100%;
            }
            .project-image img{
                height: 220px;
            }
        }

        /* SERVICE AND COURSE PAGE STYLING */

        .services-grid,
        .course-grid{

                display:grid;

                grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

                gap:30px;

                padding:80px 8%;
                }

                .service-card,
                .course-card{

                background:#fff;

                padding:35px;

                border-radius:15px;

                box-shadow:0 10px 25px rgba(0,0,0,.1);

                transition:.4s;

                text-align:center;
                }

                .service-card:hover,
                .course-card:hover{

                transform:translateY(-10px);

                background:#0F172A;

                color:#fff;
                }

                .course-intro{

                max-width:700px;

                margin:auto;

                text-align:center;

                padding:20px;

                line-height:1.8;
                }


                /* CONTACT PAGE */ 

            .contact-page{

                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(280px,1fr));

                gap: 30px;
                padding: 80px 8%;
            }

            .contact-info h2{

                color: #0F172A;
                margin-bottom: 20px;
            }

            .contact-info p{

                line-height: 1.8;
                color: #000;
            }

            .info-box{

                margin-top: 30px;
            }

            .info-box h3{

                color: #0F172A;
                margin-bottom: 10px;
            }

            #info-box p{
                color: #D97706;
            }
        
       

        /* CONTACT FORM */

        .contact-form form{

            display: flex;
            flex-direction: column;
        }

        .contact-form input,
        .contact-form textarea{

            padding: 15px;
            margin-bottom: 20px;

            border: 1px solid #ccc;
            border-radius: 5px;

            font-size: 16px;
        }

        .contact-form textarea{

            height: 150px;
            resize: none;
        }

        .contact-form button{

            background: #0F172A;
            color: white;

            border: none;

            padding: 15px;

            font-size: 16px;

            cursor: pointer;

            border-radius: 5px;
        }
        
                /* FOOTER CONTACT STYLING HOME PAGE */

                #contact {
                    padding: 80px 10%; background: #2e2b2b;
                }

                .contact-container {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 50px; align-items: center;
                }
                
                .contact-info h2 {
                    font-size: 2.5rem; margin-bottom: 15px;
                    color: #D97706;
                }

                .contact-info p{
                    color: wheat; line-height: 1.8;
                }

                .info-box {
                    margin-top: 20px;
                }

                .info-box h4 {
                    color: #D97706; margin-bottom: 5px;
                }


                /* INDEX SECTION CONTACT MOBILE RESPONSIVE */

                @media(max-width: 768px) {
                    .contact-container{
                        grid-template-columns: 1fr; gap: 30px;
                    }
                    .contact-info{
                        width: 100%;
                    }
                    .map{
                        width: 100%;
                    }
                    .map iframe{
                        width: 100%;
                        height: 300px;
                        border-radius: 10px;
                    }
                }
                      /* MAP STYLING */

                .map iframe {
                    width: 100%; height: 400px;
                    border: none; border-radius: 15px;
                }

                /* FOOTER */

                .footer {
                    background: #111; color: #fff;
                    text-align: center; padding: 50px 10%;
                }

                .footer h3 {
                    font-size: 2rem; margin-bottom: 15px;
                }
                .footer p {
                    color: #bbb; margin-bottom: 20px;
                }

                .footer img {
                    width: 70px; 
                    display: block; 
                    margin: 0 auto 20px;
                    float: none;
                }

                .copyright {
                    border-top: 1px solid #333;
                    padding-top: 20px; margin-top: 20px;
                }

        /* TABLET RESPONSIVENESS */

        @media (max-width:992px){
            h1{
                font-size:2.5rem;
            }
            h2{
                font-size: 2rem;
            }
            p{
                font-size: 16px;
            }
            .hero{
                padding: 80px 20px;
            }
            .hero-content{
                width: 100%;
            }
            
            /*section*/

            section{
                padding: 60px 20px;
            }
        }

        /* MOBILE PHONE */

        @media (max-width: 768px) {
            nav{
                padding: 15px;
            }
            nav ul{
                flex-direction: column;
                align-items: center;
                gap: 15px;
            }

            h1{
                font-size: 2rem;
            }

            h2{
                font-size: 1.6rem;
            }

            p{
                font-size: 15px;
            }

            .hero{
                min-height: 100vh;
                padding: 70px 20px;
            }

            .hero-content{
                width: 100%;
            }

            .primary-btn,
            .secondary-btn{
                display: flex;
                flex-direction: column;
                gap: 15px;
            }

            .hero-button{
                flex-direction: column;
                text-align: center;
            }
            

            button,
            .btn{
                width: 100%;
                text-align: center;
            }

            iframe{
                width: 100%;
                height: 300px;
            }

            
        }

        /* SMALL PHONES */

        @media (max-width: 480px){
            h1{
                font-size: 1.8rem;
            }
            h2{
                font-size: 1.4rem;
            }
            p{
                font-size: 14px;
            }

            section{
                padding: 50px 15px;
            }
            
            .logo{
                font-size: 22px;
            }
            .card{
                padding: 20px;
            }
            footer{
                text-align: center;
            }
        }

                /*=========================
        SCROLL TO TOP
        =========================*/

        #scrollTopBtn{

            position:fixed;

            bottom:25px;

            right:25px;

            width:50px;

            height:50px;

            border:none;

            border-radius:50%;

            background:#F59E0B;

            color:#fff;

            font-size:20px;

            cursor:pointer;

            display:none;

            z-index:1000;

            transition:.3s;
        }

        #scrollTopBtn:hover{

            background:#2563EB;

            transform:translateY(-5px);
        }



        

        /* SOCIAL MEDIA STYLING  */

      /*   .social-icon {
            margin-bottom: 25px;
        }

         .social-icon a {
            display: inline-flex; justify-content: center; align-items: center;
            width: 45px; height: 45px; margin: 0 8%; background: #222; color: #fff;
            border-radius: 50%; text-decoration: none; font-size: 18px; transition: 0.3s ease;
        }
        .social-icon a:hover{
            background: #ff4500; transform: translateY(-5px);
        }

